<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style type="text/css">
      body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
        overflow-y: scroll;
      }
      h1, h2, h3 {
        line-height: 1.2
      }
      a {
        text-decoration: none;
      }
      header {
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <form method='post' action="{% url 'signup' %}?next={{ next }}">
      {% csrf_token %}
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" value="" required><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" value="" required><br><br>
      <label for="phonenumber">phonenumber:</label><br>
      <input type="text" id="phonenumber" name="phonenumber" value="" required><br><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" value="" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
